<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565971531592-krfktc6rmfpud76jka14ap1pb57sdpch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565971531592-krfktc6rmfpud76jka14ap1pb57sdpch</string>
	<key>API_KEY</key>
	<string>AIzaSyD8Kh21Q5bpxgVA6Xia2CN_lf0wLyF8yko</string>
	<key>GCM_SENDER_ID</key>
	<string>565971531592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRecordLesson</string>
	<key>PROJECT_ID</key>
	<string>lesson-edd4d</string>
	<key>STORAGE_BUCKET</key>
	<string>lesson-edd4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565971531592:ios:b48a7bc0e298b79d71257d</string>
	<key>DATABASE_URL</key>
	<string>https://lesson-edd4d.firebaseio.com</string>
</dict>
</plist>